*{
    box-sizing: border-box;
}

body {
    background-color: #abd9e9;
    font-family: Arial;
}

#container {
    width: 750px;
    height: 800px;
    background: #eff3f7;
    margin: 0 auto;
    font-size: 0;
    border-radius: 5px;
    overflow: hidden;
}

aside {
    width: 260px;
    height: 800px;
    background-color: #3b3e49;
    display: inline-block;
    font-size: 15px;
    vertical-align: top;
}

main {
    width: 490px;
    height: 800px;
    display: inline-block;
    font-size: 15px;
    vertical-align: top;
}

aside header {
    padding: 30px 20px;
}

aside input {
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding: 0 50px 0 20px;
    background-color: #5e616a;
    border: none;
    border-radius: 3px;
    color: #fff;
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/ico_search.png);
    background-repeat: no-repeat;
    background-position: 170px;
    background-size: 40px;
}

aside input::placeholder {
    color: #fff;
}





aside ul {
    padding-left: 0;
    margin: 0;
    list-style-type: none;
    overflow-y: scroll;
    height: 690px;
}

aside li {
    padding: 10px 0;
}

aside li:hover {
    background-color: #5e616a;
}

h2,
h3 {
    margin: 0;
}

aside li img {
    border-radius: 50%;
    margin-left: 20px;
    margin-right: 8px;
}

aside li div {
    display: inline-block;
    vertical-align: top;
    margin-top: 12px;
}

aside li h2 {
    font-size: 14px;
    color: #fff;
    font-weight: normal;
    margin-bottom: 5px;
}

aside li h3 {
    font-size: 12px;
    color: #7e818a;
    font-weight: normal;
}

.status {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 7px;
}

.green {
    background-color: #58b666;
    margin-right: 0;
    margin-left: 7px;
}

.orange {
    background-color: #ff725d;
}

.blue {
    background-color: #6fbced;
    margin-right: 0;
    margin-left: 7px;
}

main header {
    height: 110px;
    padding: 30px 20px 30px 40px;
}

main header>* {
    display: inline-block;
    vertical-align: top;
}

main header img:first-child {
    border-radius: 50%;
}

main header img:last-child {
    width: 24px;
    margin-top: 8px;
}

main header div {
    margin-left: 10px;
    margin-right: 145px;
}

main header h2 {
    font-size: 16px;
    margin-bottom: 5px;
}

main header h3 {
    font-size: 14px;
    font-weight: normal;
    color: #7e818a;
}
 

#chat {
    padding-left: 0;
    margin: 0;
    list-style-type: none;
    overflow-y: scroll;
    height: 535px;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
}

#chat li {
    padding: 10px 30px;
}

#chat h2,
#chat h3 {
    display: inline-block;
    font-size: 13px;
    font-weight: normal;
}

#chat h3 {
    color: #bbb;
}

#chat .entete {
    margin-bottom: 5px;
}

#chat .message {
    padding: 20px;
    color: #fff;
    line-height: 25px;
    max-width: 90%;
    display: inline-block;
    text-align: left;
    border-radius: 5px;
}

#chat .me {
    text-align: right;
}

#chat .you .message {
    background-color: #58b666;
}

#chat .me .message {
    background-color: #6fbced;
}

#chat .triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
}

#chat .you .triangle {
    border-color: transparent transparent #58b666 transparent;
    margin-left: 15px;
}

#chat .me .triangle {
    border-color: transparent transparent #6fbced transparent;
    margin-left: 375px;
}


.micropho {
    position: relative;
    right: -400px;
    width: 25px;
    top: -70px;
    cursor: pointer;

}


main footer {
    height: 155px;
    padding: 20px 30px 10px 20px;
}



.message-input {
    position: absolute;
    z-index: 99;
    width: 450px;
  }

  .message-input .wrap {
    position: relative;
  }

  .message-input .wrap input {
    font-family: "proxima-nova", "Source Sans Pro", sans-serif;
    float: left;
    border: none;
    width: calc(100% - 90px);
    padding: 11px 32px 10px 8px;
    font-size: 0.8em;
    color: #32465a;
  }

  @media screen and (max-width: 735px) {
    .message-input .wrap input {
      padding: 15px 32px 16px 8px;
    }
  }

  .message-input .wrap input:focus {
    outline: none;
  }

.message-input .wrap .attachment {
    position: absolute;
    right: 80px;
    z-index: 4;
    margin-top: 10px;
    font-size: 1.1em;
    color: #435f7a;
    opacity: 1;
    cursor: pointer;
    margin-top: -30px;
    padding-right: 10px;

  }
  @media screen and (max-width: 735px) {
  .message-input .wrap .attachment {
      margin-top: 17px;
      right: 65px;
    }
  }
.message-input .wrap .attachment:hover {
    opacity: 1;
  }

 .message-input .wrap .submit {
    float: right;
    border: none;
    width: 40px;
    padding: 12px 0;
    cursor: pointer;
    background: #32465a;
    color: #f5f5f5;
    margin-top: -80px;
    margin-right: 25px;
    border-radius: 5px;

  }
  @media screen and (max-width: 735px) {
   .message-input .wrap .submit {
      padding: 16px 0;
    }
  }
 .message-input .wrap .submit:hover {
    background: #435f7a;
  }
 .message-input .wrap button:focus {
    outline: none;
  }

 


  .search-box,.close-icon,.search-wrapper {
    position: relative;
    height: 50px;
    padding: 10px;
  }
  .search-wrapper {
    width: 500px;
    margin: auto;
    margin-top: 10px;
  }
  .search-box {
    width: 80%;
    border: 1px solid #ccc;
    outline: 0;
    border-radius: 15px;
    margin-left: -15px;
  }
  .search-box:focus {
    box-shadow: 0 0 15px 5px #b0e0ee;
    border: 2px solid #bebede;
  }
  .close-icon {
    border:1px solid transparent;
    background-color: transparent;
    display: inline-block;
    vertical-align: middle;
    outline: 0;
    cursor: pointer;
  }
  .close-icon:after {
    content: "X";
    display: block;
    width: 15px;
    height: 15px;
    position: absolute;
    background-color: #FA9595;
    z-index:1;
    right: 35px;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 2px;
    border-radius: 50%;
    text-align: center;
    color: white;
    font-weight: normal;
    font-size: 12px;
    box-shadow: 0 0 2px #E50F0F;
    cursor: pointer;
  }
  .search-box:not(:valid) ~ .close-icon {
    display: none;
  }